{% extends 'catalog/base.html' %}
<title>{% block title %}Login{% endblock %}</title>

{% block content %}
    {% if form.error %}
        <p>Your user name and password didn't match. Please try again!</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your are not allowed to access to this page. Please login!!</p>
        {% else %}
            <p>Please login to see this page!</p>
        {% endif %}
    {% endif %}
    <div class="col-lg-6 offset-lg-4 mt-5">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td class="col-4 mt-3">{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td class="col-4 mt-3">{{ form.password }}</td>
                    </tr>
                </table>
                <input type="submit" value="Login" class="btn btn-success mt-3">
            <input type="hidden" name="next" value="{{ next }}">
            </div>

        </form>
        <p class="mt-2">If you forget your password <a href="{% url 'password_reset' %}">Reset password!</a></p>
    </div>
{% endblock %}