{% extends 'catalog/base.html' %}
<title>
    {% block title %}Reset Password{% endblock %}
</title>

{% block content %}
    <div class="col-lg-6 offset-lg-4 mt-5">
        <p>Reset Password</p>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.error }}
            {% endif %}

            <p>{{ form.as_p }}</p>
{#            <p>{{ form.email }}</p>#}
            <input type="submit" class="btn btn-success" value="Reset password">
        </form>
    </div>
{% endblock %}