{% extends 'catalog/base.html' %}
<title>{% block title %}All counts{% endblock %}</title>



{% block content %}
    <h1>Local library Home</h1>
    <p>Welcome to hardy library, this website will give you a good understanding about Django Process
        this is made by <small>Hardy</small></p>
    <h2>Dynamic Content</h2>
    <p>This Library is contains:</p>
    <ul>
        <li>Number of books: {{ num_books }}</li>
        <li>Number of instances: {{ num_instances }}</li>
        <li>Number of instances available: {{ num_instances_available }}</li>
        <li>Number of authors: {{ num_authors }}</li>
    </ul>
    <h2>Number of Genders</h2>

    <ul>
        <li>Number of genders: {{ num_genders }}</li>
        <li>Type genders count: {{ genders_type }}</li>
    </ul>

    <p>You visited this page: {{ num_visits }} time{{ num_visits|pluralize }}</p>
    {% if user.is_authenticated %}
        <p class="text-center mb-5">{{ user.get_username|capfirst }} If you want to log out click
            <a href="{% url 'logout' %}?next={{ request.path }}"> Logout</a></p>
        {% else %}

        <p class="text-center mb-5">If you want to log in click
            <a href="{% url 'login' %}?next={{ request.path }}"> Login</a></p>

    {% endif %}

{% endblock %}